<p style="color: green"><%= notice %></p>
<h1>Posts <i class="fa-solid fa-heart fa-beat" style="--fa-animation-duration: 0.5s;color:red;" ></i> <i class="mdi mdi-nfc"></i></i></h1>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>
<%= link_to "New post", new_post_path %>
